@import "vars"
@media (min-width: 376px) and (max-width : 774px)
  .not-found
    .review-banner
      background-image: url('../img/_src/notfound/tab-img.jpg') !important
/*==========  Desktop First  ==========*/
@media screen and (max-width: 1150px)
  /**/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1190px)
  /**/
@media only screen and (max-width: 1045px)
  //Header
  .toggle-menu
    display: block
  .btn-search,.nav-menu-list
    display: none
  .header-container.active-nav,.header-container.fixed-header.active-nav
    top: 0
    bottom: 0
    background: rgba(6, 6, 6, 0.9)
    backdrop-filter: blur(13px)
    overflow: scroll
    &>.container
      position: relative
    .nav-menu-item
      a
        padding-left: 0
        padding-right: 0
    .header-submenu-item,.nav-menu-item
      border-bottom: 1px solid  rgba(255, 255, 255, 0.08)
    .nav-menu
      position: absolute
      top: 35px
      width: 100%
      left: 0
      flex-direction: column
    .search-form-container
      order: -1
      background: none
      width: 100%
      margin-top: 20px
      .fa-search
        display: none
      &>.flex-container
        align-items: flex-end
      .search-form-input-container
        width: 85%
      .search-submit
        width: 160px
        height: 50px
      .close-search-form
        display: none
    .nav-menu-list,.search-form-container
      display: block
    .nav-menu-list
      width: 100%
      padding-right: 32px
      padding-left: 32px
    .submenu-active::after
      display: none
  .toggle-submenu
    display: block
    width: 10%
    color: $white
    text-align: center
    padding-right: 25px
    height: 100%
    vertical-align: middle
    font-size: 12px
    transition: all 1s ease-in-out
  .toggle-submenu.active
    transform: rotate(-180deg)
  .menu-item
    a
      color: #fff !important
    a:hover,a:active
      color: #DF3D3D !important
      background: transparent
    .submenu-active
      width: 90%
  .submenu-item,.menu-item
    display: flex
    align-items: center
    flex-wrap: wrap
    a
      padding-top: 10px
      padding-bottom: 10px
  .submenu-item
    padding-left: 2%
  .header-submenu
    position: static
    width: 100%
    background: transparent
/* Medium Devices, Desktops */
@media only screen and (max-width : 990px)
  /**/
/* Small Devices, Tablets */
@media only screen and (max-width : 800px)
  /**/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 774px)
  /**/
@media  only screen and (max-width: 680px)
  .notfound-wrapper
    width: 100%
    padding-right: 15px
    padding-left: 15px
  .not-found
    .main-banner-visit
      width: 100%
  .notfound-title
    font-size: 142px
    text-align: center
  .not-found-message
    flex-wrap: wrap
  .not-found-text
    width: 100%
    margin-right: 0
    margin-bottom: 10px
/* Extra Small Devices, Phones */
@media (max-width: 480px)
  /**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
  .header-container.fixed-header.active-nav,.header-container.active-nav
    .search-form-container>.flex-container
      flex-wrap: wrap
      .search-form-input-container
        margin-right: 0
      .search-form-input,button.search-submit,.search-form-input-container
        width: 100%
      .search-submit
        margin-top: 15px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/
